.text-color {
  color: #1890ff;
}

.style-tab {
  width: 100px;
  display: flex;
}
.all-tab {
  padding: 50px;
  background-color: white;
  width: 65%;
  height: 600px;

  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 2px 6px 10px rgb(238 238 238 / 32%);
}
.chitiet {
  color: #1890ff;
}
.warp-lichchieu {
}
.warp-content h5 {
  font-size: 18px;
}
.text-lichchieu {
  padding-left: 10px;
  margin-left: 5px;
}

@media screen and (max-width: 767px) {
  .all-tab {
    width: 90%;
    height: 600px;
    /* margin-top: 50px; */
    /* margin-left: 10px; */
    display: block;
  }
}
