.renderListMoive {
  padding-left: 60px;
}
.warp-listmovie {
  width: auto;
  background-color: #0f2133;
}
.lichChieu {
  color: #fff;
  font-size: 30px;
}
h3.lichChieu:hover {
  cursor: pointer;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 359px) {
  .renderListMoive {
    max-width: 100%;
    padding-left: 90px;
  }
}

@media screen and (max-width: 767px) {
  .movie-card2 {
    padding: -30px -100px -100px;
    width: 400px;
    height: auto;
    /* margin: 35px; */
  }
  .renderListMoive {
    padding-left: 65px;
  } /*
}
.renderListMoive {
  /* padding: 50px; */
}
@media (min-width: 768px) {
  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 75%;
    height: auto;
  }
  .renderListMoive {
    padding-left: 70px;
  }
}
